html {
	width: 100%;
	height: 100%;
	background: #fff;
}

body {
	background-image: url("leak.png");
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0 auto 4em auto;
	padding-top: 4em;
	padding-bottom: 4em;
	max-width: 1024px;
	font-size: 1.2em;
	font-family: sans-serif;
}

h1
{
	font-size: 4em;
	margin-right: 45%;
	margin-bottom: 1.5em;
}

ul
{
	font-size: 0.9em;
}

ul li
{
	color: #666;
	margin-bottom: 0.6em;
	list-style-type: square;
}

strong
{
	color: #000;
	font-size: 3em;
	font-weight: bold;
}

p {
	color: #666;
}

p.legal
{
	margin: 4em 0;
	font-size: 0.6em;
	color: #ccc;
}

a {
	color: #0c78df;
	text-decoration: none;
}
